<c-header colorScheme="dark" class="bg-success">
  <c-header-brand routerLink="/">
    <svg cIcon name="cilListNumbered" size="xl" title="Numbered List Icon"></svg>
    <svg cIcon name="cilPaperPlane" size="xl" title="Paper Plane Icon"></svg>
    <svg cIcon name="cil-speedometer" size="xl" title="Paper Plane Icon"></svg>
    <strong class="text-white">FinApp</strong>
  </c-header-brand>

  <c-header-nav>
    @for (route of allRoutes; track route.label) {
      @if (route.roles.includes(userRole)) {
        <c-nav-item>
          <a (click)="navigate(route.path)" (keydown)="navigate(route.path)" tabindex="0" class="nav-link text-white" cNavLink>{{ route.label }}</a>
        </c-nav-item>
      }
    }
  </c-header-nav>

  <c-header-nav class="ms-auto">
    <c-nav-item>
      <button cButton color="danger" class="px-4 text-white" (click)="logout()">
        Logout
      </button>
    </c-nav-item>
  </c-header-nav>
</c-header>
