<app-auth-layout
  title="Create your account"
  primaryBtnText="Signup Now"
  secondaryBtnText="Already have an account? Login here."
  (submit)="signup()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!userForm.valid"
>
  <form [formGroup]="userForm">
    <app-primary-input
      formControlName="username"
      inputName="username"
      type="text"
      label="Username"
      placeholder="Your name here"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="example@gmail.com"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Password"
      placeholder="Your password here"
    >
    </app-primary-input>
  </form>
</app-auth-layout>
