:host {
  display: block;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 2rem 0;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  color: #321fdb;
}

.text-medium-emphasis {
  color: #768192;
}
