<c-container>
  <c-row class="justify-content-center">
    <c-col lg="6">
      <c-card class="text-center mt-5 p-5">
        <div class="display-1 mb-4">404</div>
        <h1 class="mb-4">Page Not Found</h1>
        <p class="text-medium-emphasis mb-4">
          Oops! The page you are looking for might have been removed,
          had its name changed, or is temporarily unavailable.
        </p>
        <button cButton color="primary" class="px-4" (click)="goHome()">
          Go Home
        </button>
        <button cButton color="primary">Primary</button>
      </c-card>
    </c-col>
  </c-row>
</c-container>
