<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="userForm">
    <app-primary-input
      formControlName="username"
      inputName="username"
      type="text"
      label="Username"
      placeholder="Your name here"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="example@gmail.com"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Password"
      placeholder="Your password here"
    >
    </app-primary-input>
    <button class="btn-primary" (click)="login()" [disabled]="!userForm.valid">Update Profile</button>
  </form>
  <button class="btn-secondary" (click)="navigate()">Don't have an account? SignUp here.</button>
</div>
